In [35]:
import pandas as pd
import numpy as np

HEAD OF THE STANFORD DATAFRAME

In [36]:
df_stan = pd.read_csv('./data/TX_2010_onwards.csv')
df_stan.head()

C:\Users\Theo Boucebaine\AppData\Local\Temp\ipykernel_1972\1979163790.py:1: DtypeWarning: Columns (16,19,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_stan = pd.read_csv('./data/TX_2010_onwards.csv')

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,lat,lon,officer_id,driver_race_original
0,TX-2010-0000002,TX,2010-01-01,00:00,Guadalupe,Guadalupe County,48187.0,622.0,NaN,F,...,False,NaN,NaN,False,Warning,NaN,29.622867,-97.778663,11524,Asian
1,TX-2010-0000003,TX,2010-01-01,00:00,Fannin,Fannin County,48147.0,668.0,NaN,F,...,False,NaN,NaN,False,Warning,NaN,33.603183,-96.150215,12274,White
2,TX-2010-0000004,TX,2010-01-01,00:00,Coryell,Coryell County,48099.0,560.0,NaN,M,...,False,NaN,NaN,False,Citation,NaN,31.121599,-97.835418,12365,Black
3,TX-2010-0000005,TX,2010-01-01,00:00,Dallas,Dallas County,48113.0,464.0,NaN,M,...,False,NaN,NaN,False,Citation,NaN,NaN,NaN,10795,Black
4,TX-2010-0000006,TX,2010-01-01,00:00,Denton,Denton County,48121.0,0.0,NaN,M,...,False,NaN,NaN,False,Citation,NaN,NaN,NaN,12571,White

HEAD OF THE STATEWIDE DATAFRAME

In [37]:
df_statewide = pd.read_csv('./data/tx_statewide_2020_04_01.csv')
df_statewide.head()

C:\Users\Theo Boucebaine\AppData\Local\Temp\ipykernel_1972\377773163.py:1: DtypeWarning: Columns (8,15,16,21,24,25,26,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_statewide = pd.read_csv('./data/tx_statewide_2020_04_01.csv')

,raw_row_number,date,time,location,lat,lng,county_name,district,precinct,region,...,vehicle_color,vehicle_make,vehicle_model,vehicle_type,vehicle_year,raw_HA_RACE_SEX,raw_HA_SEARCH_PC_boolean,raw_HA_SEARCH_CONCENT_boolean,raw_HA_INCIDTO_ARREST_boolean,raw_HA_VEHICLE_INVENT_boolean
0,1,2006-01-01,00:00:00,"route: 0030, milepost: 674",NaN,NaN,Walker County,C,NaN,2,...,NaN,NaN,NaN,PA,NaN,WF,False,False,False,False
1,2,2006-01-01,00:00:00,"route: 0207, milepost: 50",NaN,NaN,Hansford County,B,11.0,5,...,NaN,NaN,NaN,PA,NaN,WM,False,False,False,False
2,3,2006-01-01,00:00:00,"route: 0105, milepost: 700",NaN,NaN,Montgomery County,C,20.0,2,...,NaN,NaN,NaN,SV,NaN,HM,True,False,False,False
3,4,2006-01-01,00:00:00,"route: 0010, milepost: 819",NaN,NaN,Chambers County,B,NaN,2,...,NaN,NaN,NaN,SV,NaN,WM,False,False,False,False
4,5,2006-01-01,00:00:00,"route: 1774, milepost: 456",NaN,NaN,Montgomery County,C,50.0,2,...,NaN,NaN,NaN,PA,NaN,WM,True,False,False,False

In [38]:
len(df_stan), len(df_statewide)

(13307918, 19752786)

COLUMN NAME OF THE STANFORD DATAFRAME

In [39]:
df_stan.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw', 'county_name',
       'county_fips', 'fine_grained_location', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'lat', 'lon', 'officer_id', 'driver_race_original'],
      dtype='object')

COLUMN NAME OF STATEWIDE

In [40]:
df_statewide.columns

Index(['raw_row_number', 'date', 'time', 'location', 'lat', 'lng',
       'county_name', 'district', 'precinct', 'region', 'subject_race',
       'subject_sex', 'officer_id_hash', 'type', 'violation',
       'citation_issued', 'warning_issued', 'outcome', 'contraband_found',
       'contraband_drugs', 'contraband_weapons', 'search_conducted',
       'search_vehicle', 'search_basis', 'vehicle_color', 'vehicle_make',
       'vehicle_model', 'vehicle_type', 'vehicle_year', 'raw_HA_RACE_SEX',
       'raw_HA_SEARCH_PC_boolean', 'raw_HA_SEARCH_CONCENT_boolean',
       'raw_HA_INCIDTO_ARREST_boolean', 'raw_HA_VEHICLE_INVENT_boolean'],
      dtype='object')

DIFFERENCE BETWEEN TWO DATAFRAMES

In [41]:
df_stan.columns.difference(df_statewide.columns)

Index(['county_fips', 'driver_age', 'driver_age_raw', 'driver_gender',
       'driver_race', 'driver_race_original', 'driver_race_raw',
       'fine_grained_location', 'id', 'is_arrested', 'location_raw', 'lon',
       'officer_id', 'police_department', 'search_type', 'search_type_raw',
       'state', 'stop_date', 'stop_outcome', 'stop_time', 'violation_raw'],
      dtype='object')

In [42]:
df_stan.columns.intersection(df_statewide.columns)

Index(['county_name', 'violation', 'search_conducted', 'contraband_found',
       'lat'],
      dtype='object')

In [43]:
df_stan.describe()

,county_fips,fine_grained_location,police_department,driver_age_raw,driver_age,is_arrested,lat,lon
count,1.330782e+07,1.330773e+07,0.0,0.0,0.0,0.0,1.113111e+07,1.113154e+07
mean,4.825221e+04,4.210819e+02,NaN,NaN,NaN,NaN,3.094612e+01,-9.777938e+01
std,1.474057e+02,2.572111e+02,NaN,NaN,NaN,NaN,2.237530e+00,2.595548e+00
min,4.800100e+04,0.000000e+00,NaN,NaN,NaN,NaN,2.106813e+01,-1.250619e+02
25%,4.813300e+04,2.380000e+02,NaN,NaN,NaN,NaN,2.966318e+01,-9.890137e+01
50%,4.823100e+04,4.420000e+02,NaN,NaN,NaN,NaN,3.097558e+01,-9.757165e+01
75%,4.837300e+04,6.160000e+02,NaN,NaN,NaN,NaN,3.257902e+01,-9.568338e+01
max,4.850700e+04,9.999000e+03,NaN,NaN,NaN,NaN,7.631857e+01,-4.477363e+01

In [44]:
df_statewide.describe()

       raw_row_number           lat           lng        region  vehicle_year
count    1.975279e+07  1.160043e+07  1.160050e+07  1.975279e+07  1.083178e+07
mean     1.008828e+07  3.104260e+01 -9.789243e+01  3.548015e+00  2.004307e+03
std      5.804262e+06  2.241375e+00  2.637179e+00  2.031648e+00  4.026977e+01
min      1.000000e+00  1.588400e+00 -1.291370e+02  0.000000e+00  1.800000e+03
25%      5.072521e+06  2.968938e+01 -9.911253e+01  2.000000e+00  2.001000e+03
50%      1.009947e+07  3.110210e+01 -9.761571e+01  3.000000e+00  2.005000e+03
75%      1.511658e+07  3.270040e+01 -9.577772e+01  5.000000e+00  2.008000e+03
max      2.011704e+07  7.631857e+01 -2.451870e+01  9.000000e+00  1.199800e+04

NAN VALUES

In [45]:
df_stan.isnull().sum()

id                              0
state                           0
stop_date                       0
stop_time                       0
location_raw                  100
county_name                   100
county_fips                   100
fine_grained_location         185
police_department        13307918
driver_gender                 298
driver_age_raw           13307918
driver_age               13307918
driver_race_raw               239
driver_race                393615
violation_raw                 831
violation                     831
search_conducted             1672
search_type_raw          13064449
search_type              13064449
contraband_found             1701
stop_outcome                    0
is_arrested              13307918
lat                       2176810
lon                       2176381
officer_id                    413
driver_race_original       809779
dtype: int64

In [46]:
df_statewide.isnull().sum()

raw_row_number                          0
date                                    0
time                                    0
location                               91
lat                               8152359
lng                               8152288
county_name                            99
district                             9161
precinct                         12569006
region                                  0
subject_race                          236
subject_sex                           251
officer_id_hash                       250
type                                    1
violation                            1426
citation_issued                         1
warning_issued                          1
outcome                              1426
contraband_found                 19295939
contraband_drugs                 19295941
contraband_weapons               19295946
search_conducted                     1673
search_vehicle                     442621
search_basis                     19295951
vehicle_color                    14872995
vehicle_make                      7669499
vehicle_model                     8966886
vehicle_type                         1437
vehicle_year                      8921003
raw_HA_RACE_SEX                       237
raw_HA_SEARCH_PC_boolean             1674
raw_HA_SEARCH_CONCENT_boolean        1674
raw_HA_INCIDTO_ARREST_boolean        1674
raw_HA_VEHICLE_INVENT_boolean        1674
dtype: int64

In [47]:
total_stan = np.array(df_stan).size
total_state = np.array(df_statewide).size
total_stan, total_state

(346005868, 671594724)

In [48]:
# Compare NaN values between the two dataframes
NaN_stan = df_stan.isnull().sum().sum() 
NaN_state = df_statewide.isnull().sum().sum()
NaN_stan, NaN_state

(84923625, 146953420)

In [49]:
total_stan - NaN_stan, total_state - NaN_state

(261082243, 524641304)