In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

STATEWIDE_CSV

SHOW DATATYPE BY COLUMNS

In [13]:
#Show datatype values by columns
df_statewide = pd.read_csv('../data/TX_statewide_2020_04_01.csv')
df_statewide.dtypes.head()

C:\Users\Theo Boucebaine\AppData\Local\Temp\ipykernel_30376\4285031377.py:2: DtypeWarning: Columns (8,15,16,21,24,25,26,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_statewide = pd.read_csv('../data/TX_statewide_2020_04_01.csv')

raw_row_number      int64
date               object
time               object
location           object
lat               float64
dtype: object

NAN VALUES BY COLUMNS

In [4]:
df_statewide.isnull().sum()

raw_row_number                          0
date                                    0
time                                    0
location                               91
lat                               8152359
lng                               8152288
county_name                            99
district                             9161
precinct                         12569006
region                                  0
subject_race                          236
subject_sex                           251
officer_id_hash                       250
type                                    1
violation                            1426
citation_issued                         1
warning_issued                          1
outcome                              1426
contraband_found                 19295939
contraband_drugs                 19295941
contraband_weapons               19295946
search_conducted                     1673
search_vehicle                     442621
search_basis                     19295951
vehicle_color                    14872995
vehicle_make                      7669499
vehicle_model                     8966886
vehicle_type                         1437
vehicle_year                      8921003
raw_HA_RACE_SEX                       237
raw_HA_SEARCH_PC_boolean             1674
raw_HA_SEARCH_CONCENT_boolean        1674
raw_HA_INCIDTO_ARREST_boolean        1674
raw_HA_VEHICLE_INVENT_boolean        1674
dtype: int64

NUMBER OF ROW IN STATEWIDE CSV

In [5]:
df_statewide.shape[0]

19752786

DATE

In [6]:
df_statewide["date"] = pd.to_datetime(df_statewide["date"])
df_statewide

,raw_row_number,date,time,location,lat,lng,county_name,district,precinct,region,...,vehicle_color,vehicle_make,vehicle_model,vehicle_type,vehicle_year,raw_HA_RACE_SEX,raw_HA_SEARCH_PC_boolean,raw_HA_SEARCH_CONCENT_boolean,raw_HA_INCIDTO_ARREST_boolean,raw_HA_VEHICLE_INVENT_boolean
0,1,2006-01-01,00:00:00,"route: 0030, milepost: 674",NaN,NaN,Walker County,C,NaN,2,...,NaN,NaN,NaN,PA,NaN,WF,False,False,False,False
1,2,2006-01-01,00:00:00,"route: 0207, milepost: 50",NaN,NaN,Hansford County,B,11.0,5,...,NaN,NaN,NaN,PA,NaN,WM,False,False,False,False
2,3,2006-01-01,00:00:00,"route: 0105, milepost: 700",NaN,NaN,Montgomery County,C,20.0,2,...,NaN,NaN,NaN,SV,NaN,HM,True,False,False,False
3,4,2006-01-01,00:00:00,"route: 0010, milepost: 819",NaN,NaN,Chambers County,B,NaN,2,...,NaN,NaN,NaN,SV,NaN,WM,False,False,False,False
4,5,2006-01-01,00:00:00,"route: 1774, milepost: 456",NaN,NaN,Montgomery County,C,50.0,2,...,NaN,NaN,NaN,PA,NaN,WM,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19752781,20117037,2013-12-29,13:04:00,"route: 0016, milepost: 626",29.061700,-98.591515,Atascosa County,C,NaN,6,...,WHI,FORD,PK,PU,2003.0,WM,False,False,False,False
19752782,20117038,2013-12-29,13:04:00,milepost: 0,26.102793,-97.629265,Cameron County,A,31.0,3,...,BLK,LINC,NAV,SV,1999.0,WF,False,False,False,False
19752783,20117039,2013-12-29,13:04:00,"route: 0020, milepost: 315",31.949709,-102.163570,Midland County,A,NaN,4,...,GRY,CHEV,PK,PU,2007.0,HM,False,False,False,False
19752784,20117040,2013-12-29,13:04:00,"route: 0035, milepost: 360",31.950699,-97.112380,Hill County,A,NaN,6,...,SIL,PONT,GTO,PA,2004.0,WM,False,False,False,False
19752785,20117041,2013-12-29,13:04:00,"route: 0183, milepost: 582",29.429300,-97.414780,Gonzales County,C,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

COUNTY NAME

In [7]:
# Convert column "county_name" to string
df_statewide["county_name"] = df_statewide["county_name"].astype(str)
df_statewide["county_name"]

0               Walker County
1             Hansford County
2           Montgomery County
3             Chambers County
4           Montgomery County
                  ...
19752781      Atascosa County
19752782       Cameron County
19752783       Midland County
19752784          Hill County
19752785      Gonzales County
Name: county_name, Length: 19752786, dtype: object

ALL BOOLEAN COLUMNS

In [8]:
columns_boolean = [
    "raw_HA_SEARCH_PC_boolean",
    "raw_HA_SEARCH_CONCENT_boolean",
    "raw_HA_INCIDTO_ARREST_boolean",
    "raw_HA_VEHICLE_INVENT_boolean"
]

for boolean in columns_boolean:
    df_statewide[boolean] = df_statewide[boolean].map({True: 1, False: 0})

df_statewide

,raw_row_number,date,time,location,lat,lng,county_name,district,precinct,region,...,vehicle_color,vehicle_make,vehicle_model,vehicle_type,vehicle_year,raw_HA_RACE_SEX,raw_HA_SEARCH_PC_boolean,raw_HA_SEARCH_CONCENT_boolean,raw_HA_INCIDTO_ARREST_boolean,raw_HA_VEHICLE_INVENT_boolean
0,1,2006-01-01,00:00:00,"route: 0030, milepost: 674",NaN,NaN,Walker County,C,NaN,2,...,NaN,NaN,NaN,PA,NaN,WF,0.0,0.0,0.0,0.0
1,2,2006-01-01,00:00:00,"route: 0207, milepost: 50",NaN,NaN,Hansford County,B,11.0,5,...,NaN,NaN,NaN,PA,NaN,WM,0.0,0.0,0.0,0.0
2,3,2006-01-01,00:00:00,"route: 0105, milepost: 700",NaN,NaN,Montgomery County,C,20.0,2,...,NaN,NaN,NaN,SV,NaN,HM,1.0,0.0,0.0,0.0
3,4,2006-01-01,00:00:00,"route: 0010, milepost: 819",NaN,NaN,Chambers County,B,NaN,2,...,NaN,NaN,NaN,SV,NaN,WM,0.0,0.0,0.0,0.0
4,5,2006-01-01,00:00:00,"route: 1774, milepost: 456",NaN,NaN,Montgomery County,C,50.0,2,...,NaN,NaN,NaN,PA,NaN,WM,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19752781,20117037,2013-12-29,13:04:00,"route: 0016, milepost: 626",29.061700,-98.591515,Atascosa County,C,NaN,6,...,WHI,FORD,PK,PU,2003.0,WM,0.0,0.0,0.0,0.0
19752782,20117038,2013-12-29,13:04:00,milepost: 0,26.102793,-97.629265,Cameron County,A,31.0,3,...,BLK,LINC,NAV,SV,1999.0,WF,0.0,0.0,0.0,0.0
19752783,20117039,2013-12-29,13:04:00,"route: 0020, milepost: 315",31.949709,-102.163570,Midland County,A,NaN,4,...,GRY,CHEV,PK,PU,2007.0,HM,0.0,0.0,0.0,0.0
19752784,20117040,2013-12-29,13:04:00,"route: 0035, milepost: 360",31.950699,-97.112380,Hill County,A,NaN,6,...,SIL,PONT,GTO,PA,2004.0,WM,0.0,0.0,0.0,0.0
19752785,20117041,2013-12-29,13:04:00,"route: 0183, milepost: 582",29.429300,-97.414780,Gonzales County,C,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DISTRIC

In [9]:
df_statewide["district"].value_counts()

district
A    8066162
B    6900560
C    4031631
D     701613
T      36699
X       2717
E       2678
M       1488
F         77
Name: count, dtype: int64

VEHICLE

In [10]:
# Show all columns name vehicle
df_statewide.filter(like="vehicle").columns

Index(['search_vehicle', 'vehicle_color', 'vehicle_make', 'vehicle_model',
       'vehicle_type', 'vehicle_year'],
      dtype='object')

In [11]:
vehicle_columns = [
    "vehicle_make",
    "vehicle_model",
    "vehicle_color",
    "vehicle_type",
]

for vehicles in vehicle_columns:
    df_statewide[vehicles] = df_statewide[vehicles].astype(str)

df_statewide["vehicle_year"] = df_statewide["vehicle_year"].astype(float)

df_statewide

,raw_row_number,date,time,location,lat,lng,county_name,district,precinct,region,...,vehicle_color,vehicle_make,vehicle_model,vehicle_type,vehicle_year,raw_HA_RACE_SEX,raw_HA_SEARCH_PC_boolean,raw_HA_SEARCH_CONCENT_boolean,raw_HA_INCIDTO_ARREST_boolean,raw_HA_VEHICLE_INVENT_boolean
0,1,2006-01-01,00:00:00,"route: 0030, milepost: 674",NaN,NaN,Walker County,C,NaN,2,...,nan,nan,nan,PA,NaN,WF,0.0,0.0,0.0,0.0
1,2,2006-01-01,00:00:00,"route: 0207, milepost: 50",NaN,NaN,Hansford County,B,11.0,5,...,nan,nan,nan,PA,NaN,WM,0.0,0.0,0.0,0.0
2,3,2006-01-01,00:00:00,"route: 0105, milepost: 700",NaN,NaN,Montgomery County,C,20.0,2,...,nan,nan,nan,SV,NaN,HM,1.0,0.0,0.0,0.0
3,4,2006-01-01,00:00:00,"route: 0010, milepost: 819",NaN,NaN,Chambers County,B,NaN,2,...,nan,nan,nan,SV,NaN,WM,0.0,0.0,0.0,0.0
4,5,2006-01-01,00:00:00,"route: 1774, milepost: 456",NaN,NaN,Montgomery County,C,50.0,2,...,nan,nan,nan,PA,NaN,WM,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19752781,20117037,2013-12-29,13:04:00,"route: 0016, milepost: 626",29.061700,-98.591515,Atascosa County,C,NaN,6,...,WHI,FORD,PK,PU,2003.0,WM,0.0,0.0,0.0,0.0
19752782,20117038,2013-12-29,13:04:00,milepost: 0,26.102793,-97.629265,Cameron County,A,31.0,3,...,BLK,LINC,NAV,SV,1999.0,WF,0.0,0.0,0.0,0.0
19752783,20117039,2013-12-29,13:04:00,"route: 0020, milepost: 315",31.949709,-102.163570,Midland County,A,NaN,4,...,GRY,CHEV,PK,PU,2007.0,HM,0.0,0.0,0.0,0.0
19752784,20117040,2013-12-29,13:04:00,"route: 0035, milepost: 360",31.950699,-97.112380,Hill County,A,NaN,6,...,SIL,PONT,GTO,PA,2004.0,WM,0.0,0.0,0.0,0.0
19752785,20117041,2013-12-29,13:04:00,"route: 0183, milepost: 582",29.429300,-97.414780,Gonzales County,C,NaN,6,...,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_statewide.describe()

,raw_row_number,date,lat,lng,region,vehicle_year,raw_HA_SEARCH_PC_boolean,raw_HA_SEARCH_CONCENT_boolean,raw_HA_INCIDTO_ARREST_boolean,raw_HA_VEHICLE_INVENT_boolean
count,1.975279e+07,19752786,1.160043e+07,1.160050e+07,1.975279e+07,1.083178e+07,1.975111e+07,1.975111e+07,1.975111e+07,1.975111e+07
mean,1.008828e+07,2009-11-28 02:02:36.628761088,3.104260e+01,-9.789243e+01,3.548015e+00,2.004307e+03,5.041640e-03,1.128326e-02,2.461887e-03,4.344211e-03
min,1.000000e+00,2006-01-01 00:00:00,1.588400e+00,-1.291370e+02,0.000000e+00,1.800000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.072521e+06,2007-12-07 00:00:00,2.968938e+01,-9.911253e+01,2.000000e+00,2.001000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.009947e+07,2009-12-01 00:00:00,3.110210e+01,-9.761571e+01,3.000000e+00,2.005000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.511658e+07,2011-11-06 00:00:00,3.270040e+01,-9.577772e+01,5.000000e+00,2.008000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.011704e+07,2013-12-29 00:00:00,7.631857e+01,-2.451870e+01,9.000000e+00,1.199800e+04,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
std,5.804262e+06,NaN,2.241375e+00,2.637179e+00,2.031648e+00,4.026977e+01,7.082529e-02,1.056217e-01,4.955629e-02,6.576731e-02