# Visualisation

In [1]:
import pandas as pd

df = pd.read_csv('../data/tx_statewide_2020_04_01-002_clean.csv')
df

,0,1,2,3,4,5,6,7,8,9
0,"route: 0010, milepost: 404",30.572998,-100.595116,Sutton County,2,0,0.0,0.0,2008,2012-06-10 17:11:00
1,"route: 0070, milepost: 330",32.440918,-100.395920,Nolan County,0,1,1.0,NaN,1992,2012-06-10 17:11:00
2,"route: 0059, milepost: 238",33.109768,-94.191849,Cass County,0,1,0.0,0.0,2001,2012-06-10 17:11:00
3,"route: 0059, milepost: 238",33.109749,-94.191849,Cass County,0,0,0.0,0.0,2001,2012-06-10 17:11:00
4,"route: 0105, milepost: 678",NaN,NaN,Montgomery County,0,0,0.0,0.0,2005,2012-06-10 17:11:00
...,...,...,...,...,...,...,...,...,...,...
19752797,"route: 0016, milepost: 626",29.061701,-98.591515,Atascosa County,0,1,0.0,0.0,2003,2013-12-29 13:04:00
19752798,milepost: 0,26.102793,-97.629265,Cameron County,2,0,0.0,0.0,1999,2013-12-29 13:04:00
19752799,"route: 0020, milepost: 315",31.949709,-102.163567,Midland County,2,1,0.0,0.0,2007,2013-12-29 13:04:00
19752800,"route: 0035, milepost: 360",31.950699,-97.112381,Hill County,0,1,0.0,0.0,2004,2013-12-29 13:04:00
19752801,"route: 0183, milepost: 582",29.429300,-97.414780,Gonzales County,4,1,NaN,NaN,0,2013-12-29 13:04:00

[Macro](#Macro)
- Median number of tickets per day.
- Plot the number of tickets per hour of the day/Does time of day affect crime.
- Plot the distribution of tickets by county or location.
- Plot the yearly evolution of the number of tickets.
- Investigate if there's a correlation between the number of tickets and specific events or holidays.

[Disparity](#Disparity)
- Gender distribution of tickets. (take into account the proportion of population)
- Plot the correlation between men and women getting a ticket for speeding.
- Explore if certain vehicle types or colors are more likely to get a ticket.
- How predictable are the stop rates, is there a time and place where you are more likely to get a ticket ?
- Address the concern about jurisdictions using civil forfeiture as a funding mechanism rather than to properly fight drug trafficking.